@font-face {
  font-family: "NunitoSans";
  src: url("/fonts/Nunito_Sans/NunitoSans.woff2") format("woff2-variations");
  font-weight: 200 1000;
  font-stretch: 75% 125%;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "NunitoSans", sans-serif;
  font-weight: 200;
  font-stretch: 75%;
  font-size: medium;
  font-variation-settings: "YTLC" 440; /* 440 .. 540 */
  /*
  pointer-events: none;
  user-select: none;
  */
  margin: 0;
}

h1, h2 {
  font-weight: 400;
  margin: 0;
}

h1 {
  user-select: all;
}

h1, h2, footer, header {
  text-transform: uppercase;
}
